html {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 10% 0px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.logo-div {
  display: flex;
  align-items: center;
}

.logo {
  width: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.brand-name {
  color: red;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 900;
}

a {
  margin: 0px 10px 0px;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.sign-in {
  display: flex;
  align-items: center;
}

.search-icon {
  font-size: 16px;
}

.dropdown-content {
  display: flex;
  justify-content: center;
  padding: 0px 15% 0px;
}

.dropdown-content>div {

  flex-grow: 1;
  max-width: 25%;
}

.hide {
  display: none;
}

.dropdown-icon {
  width: 30px;
  margin-right: 10px;
}

.dropdown-item {
  padding: 5px 10% 5px;
}

.icon-item {
  margin: 10% 0px 10%;
  display: flex;
}

.dropdown-item .info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropdown-item:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

.dropdown-item .heading {
  color: #1b1818;
  font-size: 12px;
  margin: 3px;
}

.dropdown-item .description {
  color: #574d4d;
  font-size: 10px;
  margin: 3px;
}

.dropdown-button {
  padding: 10px 10% 10px;
  margin: 5px 0px 10px;
}

.dropdown-button button {
  background-color: #1473e6;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 15px;
  padding: 7px 10px 7px;
  border: 0px;
  cursor: pointer;
}

.dropdown-item .heading-two {
  font-size: 12px;
  font-weight: bold;
  color: #505050;
  padding: 27px 0px 0px;
}

hr {
  color: #ddd8d8;
  border-width: 1px;
}

.find-app {
  background-color: #1b1818;
  margin: 30px;
  height: 70%;
  color: white;
}

.find-app .description {
  padding: 20px;
  font-size: 14px;
  font-weight: bold;
}

.find-app a {
  color: white;
  text-decoration: underline;
  font-size: 12px;
}

/* Body CSS */

.container-one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #88d6dd;
}

.container-one div {
  padding: 30px;
}

.container-one .img-div {
  display: flex;
  justify-content: flex-end;
  max-width: 50vw;

}

.container-one .description {
  width: 50vw;
  padding-right: 400px;
}

.container-one div img {
  width: 70%;
}

/* Container Two */

.container-two {
  padding: 30px;
}

.container-two .box-one {
  display: flex;
}

.container-two .box-one div {
  flex-grow: 1;
  margin: 15px;
  padding: 30px 30px 200px;
  min-width: 32%;
}

.container-two .box-two {
  display: flex;
}

.container-two .box-two div {
  flex-grow: 1;
  height: 50vh;
  padding: 30px;
  margin: 20px;
}

.container-two .box-two .big {
  flex-grow: 2;
  min-width: 64%;
  height: 50vh;
}


.container-three {
  display: flex;
  align-items: center;
  height: 60vh;
  padding: 10vw;
}

.container-three .description {
  width: 20vw;
}

/* Text Formatting */

.paragraph-one {
  font-size: 18px;
  font-weight: bolder;
}

.paragraph-two {
  font-size: 14px;
  font-weight: bold;
  color: #4b4b4b;
  margin-top: 20px;
}

.heading-one {
  font-size: 25px;
}

/* Buttons */

.blue-round-button {
  background-color: #1473e6;
  padding: 5px 10px 5px;
  border-radius: 15px;
  color: white;
  border: 0px;
}

/* Hyper links */
.link-one {
  font-size: 12px;
  font-weight: bold;
  margin-top: 30px;
}

/* Background images */
.background-image-one {
  background-image: url('https://s7d1.scene7.com/is/image/TitanProd/SMB-CC-single-desktop?$pjpeg$&jpegSize=200&wid=1260');
  background-size: cover;
}

.background-image-two {
  background-image: url('https://s7d1.scene7.com/is/image/TitanProd/SMB-Admin_single-desktop?$pjpeg$&jpegSize=200&wid=1260');
  background-size: cover;
}

.background-image-three {
  background-image: url('https://s7d1.scene7.com/is/image/TitanProd/SMB_homepage.pod_4-5@2x?$pjpeg$&jpegSize=300&wid=1920');
  background-size: cover;
}

.background-image-four {
  background-image: url('https://s7d1.scene7.com/is/image/TitanProd/SMB-Create_single-desktop?$pjpeg$&jpegSize=200&wid=1260');
  background-size: cover;
}

.background-image-five {
  background-image: url('https://s7d1.scene7.com/is/image/TitanProd/DC-triple-desktop?$pjpeg$&jpegSize=300&wid=1920');
  background-size: cover;
}

.background-image-six {
  background-image: url('https://s7d1.scene7.com/is/image/TitanProd/SMB_homepage.desktop.pod_10.420x500@2x?$pjpeg$&jpegSize=200&wid=841');
  background-size: cover;
}

.background-image-seven {
  background-image: url('https://s7d1.scene7.com/is/image/TitanProd/SMB_homepage.pod_11@2x?$pjpeg$&jpegSize=300&wid=1920');
  background-size: cover;
}

.background-image-eight {
  background-image: url('https://s7d1.scene7.com/is/image/TitanProd/SMB_homepage.pod_12@2x?$pjpeg$&jpegSize=300&wid=1920');
  background-size: cover;
}

.background-yellow {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  min-width: 32%;
}

.background-pdf {
  background-color: #eb1000;
}

.pdf {
  color: white;
}

/* Footer Formatting */
.container-six {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.footer-section-one {
  display: flex;
  width: 80vw;
  justify-content: space-around;
}

.footer-section-one div {
  display: flex;
  flex-direction: column;
}

.footer-section-two {
  margin: 30px 0px 30px;
}

.footer-section-two div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #4b4b4b;
  border-bottom: 1px solid #4b4b4b;
}

.footer-section-two div * {
  margin: 5px 20px 5px;
}

.footer-section-three {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer-section-three div {
  display: flex;
  align-items: center;
}

.link-two {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #4b4b4b;
  margin: 10px 0px 0px;
}

.link-two img {
  width: 20px;
  margin: 3px;
}

p span {
  color: #574d4d;
  font-size: 10px;
  margin-right: 10px;
}

.link-three {
  display: flex;
  align-items: center;
  margin: 6px 5px 0px;
  font-size: 12px;
  color: #4b4b4b;
}

.link-three img, svg {
  width: 20px;
  margin-right: 5px;
}

.slash::after {
  content: ' /';
  margin-left: 10px;
}

.icon {
  margin: 0px 10px 0px;
}